<div class="shopping-card">
	<h3>Basic Information</h3>
	<form action="#" class="form clear-fix">
		<label for="product">I am looking for a</label>
		<input type="text" id="product" placeholder="product (ex. chair, sofa)">
		<label for="room">for my</label>
		<input type="text" id="room" placeholder="room (ex. living room, bedroom)">
		<label for="material">in</label>
		<input type="text" id="material" placeholder="color or materials">
		<label for="budget">and my budget is</label>
		<input type="text" id="budget" placeholder="price(ex. $500)">
		<span>.</span>
		<label for="recommendations" class="personal-recommendations">any additional information share helps us give the best recommendations</label>
		<textarea name="textarea" id="recommendations" placeholder="Helpful information would be approximate dimensions of the product you’re looking for, other items your planning on replacing in your room, materials you prefer, materials or colors you like or do not like, etc."></textarea>
	</form>
	<h3>Upload Photos</h3>
	<p class="text-photos">The best photos capture the key features of the room (main furniture, layout, room features) from 2 or 3 corners of the room.  Capture key colors, textures and patterns that you want to keep.</p>
	<div class="upload-photoes">
		<p>Drag and drop Photos here <span>or</span><label for="photo-upload" class="photo-upload-label">select file to upload</label><input type="file" id="photo-upload" class="photo-upload-input"></p>
	</div>
	<h3>Additional Information <span>(Optional)</span></h3>
	<form action="#" class="form form-additional">
		<label for="link-pinterest" class="link-pinterest-label">paste a url for a pinterest board, houzz idea book or other website
		</label>
		<input type="text" id="link-pinterest" class="link-pinterest-input">
		<label for="bord-upload" class="bord-upload-label">select file to upload</label>
		<input type="file" id="bord-upload" class="bord-upload-input">
	</form>
	<div class="buttons-container clear-fix">
		<a href="#" class="button button-draft">save draft</a>
		<a href="#" class="button button-color">send to designer</a>
	</div>
</div>