@font-face {
	font-family: Futura;
	src: url(../fonts/16020_FUTURAM.ttf);
}

@font-face {
	font-family: "Justus Italic";
	src: url(../fonts/Justus-ItalicOldstyle.ttf);
}

$light-blue: #78a8bb;
$light-grey: #999;
$dark-grey: #222;
$orange: #ff5730;
$border-grey: #fcfcfc;
$input-grey: #dedede;
$place-holder-grey: #ccc;
$almost-white-grey: #f2f2f2;